body > .main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
  width: 330px;
}

body > .main-header .navbar {
  margin-left: 330px;
}

.sidebar-menu {
  width: 230px;
}

/*
.sidebar-menu {
  margin-top:50px;
}
*/


ul, ol {
  width: 185px;
}